section.banners  
  .container.banners__container 
    ul.banners__list 
      li.banners__item.banners__item--midseason
        article.banners__article.banners-article
          h3.banners__title.banners-article__title Women's Mid-Season
          a.banners-article__link.main-link Shop Now
        img.banners-article__image--midseason(src="./img/banner1.png", alt="")
      li.banners__item.banners__item--summer
        article.banners__article.banners-article
          h3.banners__title.banners-article__title Summer Romance
          a.banners-article__link.main-link Shop Now
        img(src="./img/banner2.png", alt="")
      li.banners__item.banners__item--accesories
        article.banners__article.banners-article
          h3.banners__title.banners-article__title 20% Off All Accessories
          a.banners-article__link.main-link Shop Now
        img(src="./img/banner3.png", alt="")