            .breadcrumbs.breadcrumbs-card
              .container-narrow
                ul.breadcrumbs__list
                  li.breadcrumbs__item
                    a.breadcrumbs__link(href="") Home
                  li.breadcrumbs__item
                    a.breadcrumbs__link(href="") Man
                  li.breadcrumbs__item
                    a.breadcrumbs__link(href="") Jacket
                  li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current(href="") Band-collar popovertunic