          .breadcrumbs 
            .container-narrow
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="") Home
                li.breadcrumbs__item
                  a.breadcrumbs__link(href="") Shop
                li.breadcrumbs__item
                  a.breadcrumbs__link.breadcrumbs__link--current(href="") New Arrvals