              .card-bottom-content
                .container-narrow
                  .card-description 
                    .card-description__left(data-simplebar)
                      ul.card-description__navigation(data-bar)
                        li.card-description__item
                          a.card-description__link(href="#one") Description
                        li.card-description__item
                          a.card-description__link(href="#two") Additional information
                        li.card-description__item
                          a.card-description__link(href="#three") Reviews (2)
                        li.card-description__item
                          a.card-description__link(href="#four") Description
                    .card-description__right 
                      .card-description__content.card-description__content--active(data-target="#one")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                      .card-description__content(data-target="#two")
                        p LoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLoremLorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                      .card-description__content(data-target="#three")
                        p emo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimemo enimm dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.    
                      .card-description__content(data-target="#four")
                        p  ia consequuntur magni dolores edunt ut labore et dolore magnam aliquam qim eius modi tempora incidunt ut labore et dolore magnam aliquam qemo enimemo enimemo enimemo enimemo enimm dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.    
                  .card-related 
                    h2.card-related__title Related Products
                    .card-related__slider
                      .swiper-wrapper 
                        .swiper-slide
                          article.product 
                            .product__image
                              img(src="./img/product4.png", alt="prod 4")
                            span.product__prop.product-prop.best-seller best seller
                            h3.product__title 
                              a(href="#") Backpack with contrasting buckle
                            .product-custom
                              .product-custom__price
                                span.product__price $90.00 - $125.00
                              .product-custom__cart 
                                span.to-cart Add to cart
                                .product-custom__links
                                  img(src="./img/search.png", alt="Search")
                                  img(src="./img/like.png", alt="like")
                        .swiper-slide
                          article.product 
                          .product__image
                            span.product__sale SALE
                            img(src="./img/product5.png", alt="prod 5")
                          span.product__prop.product-prop.best-seller best seller
                          h3.product__title 
                            a(href="#") Shirt in organic cotton classic gingham
                          span.product__price $80.00
                        .swiper-slide
                          article.product 
                            .product__image
                              img(src="./img/product6.png", alt="prod 6")
                            span.product__prop.product-prop.hot hot
                            h3.product__title 
                              a(href="#") Tailored indigo jumpsuit
                            span.product__price $59.50
                            span.product__old-price $131
                        .swiper-slide
                          article.product 
                            .product__image
                              img(src="./img/product7.png", alt="prod 7")
                            span.product__prop.product-prop.top-rate top rate
                            h3.product__title 
                              a(href="#") Triple stone drop earrings
                            span.product__price $128.00
                        .swiper-slide
                          article.product 
                            .product__image
                              img(src="./img/product8.png", alt="prod 8")
                            span.product__prop.product-prop.few-left only a few left
                            h3.product__title 
                              a(href="#") Backpack with contrasting buckle
                            span.product__price $49.50
                        .swiper-slide
                          article.product                                       
                            .product__image
                              img(src="./img/product9.png", alt="prod 9")
                            span.product__prop.product-prop.hot hot
                            h3.product__title 
                              a(href="#") Eye Mesh Boat Shoes
                            span.product__price $158.00
                        .swiper-slide
                          article.product 
                          .product__image
                            span.product__sale SALE
                            img(src="./img/product5.png", alt="prod 5")
                          span.product__prop.product-prop.best-seller best seller
                          h3.product__title 
                            a(href="#") Shirt in organic cotton classic gingham
                          span.product__price $80.00
                        .swiper-slide
                          article.product 
                            .product__image
                              img(src="./img/product6.png", alt="prod 6")
                            span.product__prop.product-prop.hot hot
                            h3.product__title 
                              a(href="#") Tailored indigo jumpsuit
                            span.product__price $59.50
                            span.product__old-price $131
                        .swiper-slide
                          article.product 
                          .product__image
                            span.product__sale SALE
                            img(src="./img/product5.png", alt="prod 5")
                          span.product__prop.product-prop.best-seller best seller
                          h3.product__title 
                            a(href="#") Shirt in organic cotton classic gingham
                          span.product__price $80.00
                        
                      .related-pag.swiper-pagination 
