            .catalog-filters
              button.hide-filters.btn-reset HIDE FILTERS
              .catalog-filter.catalog-filter--open
                .catalog-filter__top
                  .catalog-filter__caption
                    h3.catalog-filter__title  Categories
                    span.catalog-filter__quantity.quantity 0
                  span.catalog-filter__toggle
                .catalog-filter__bottom
                  ul.catalog-filter__items
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="All categories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text All categories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Accerssories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Accerssories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Dresses")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Dresses
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Coats")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Coats
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Clothes")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Clothes
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="T-Shirt")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text T-Shirt
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Summer")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Summer
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shirts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shirts
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Jacket")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Jacket
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shorts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shorts
              .catalog-filter 
                .catalog-filter__top
                  .catalog-filter__caption
                    h3.catalog-filter__title  Color
                    span.catalog-filter__quantity.quantity 0
                  span.catalog-filter__toggle
                .catalog-filter__bottom
                  ul.catalog-filter__items
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="All categories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text All categories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Accerssories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Accerssories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Dresses")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Dresses
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Coats")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Coats
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Clothes")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Clothes
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="T-Shirt")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text T-Shirt
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Summer")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Summer
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shirts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shirts
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Jacket")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Jacket
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shorts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shorts
              .catalog-filter 
                .catalog-filter__top
                  .catalog-filter__caption
                    h3.catalog-filter__title  Size
                    span.catalog-filter__quantity.quantity 0
                  span.catalog-filter__toggle
                .catalog-filter__bottom
                  ul.catalog-filter__items
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="All categories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text All categories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Accerssories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Accerssories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Dresses")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Dresses
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Coats")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Coats
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Clothes")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Clothes
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="T-Shirt")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text T-Shirt
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Summer")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Summer
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shirts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shirts
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Jacket")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Jacket
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shorts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shorts
              .catalog-filter 
                .catalog-filter__top
                  .catalog-filter__caption
                    h3.catalog-filter__title Price
                    span.catalog-filter__quantity.quantity 0
                  span.catalog-filter__toggle
                .catalog-filter__bottom
                  ul.catalog-filter__items
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="All categories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text All categories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Accerssories")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Accerssories
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Dresses")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Dresses
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Coats")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Coats
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Clothes")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Clothes
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="T-Shirt")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text T-Shirt
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Summer")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Summer
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shirts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shirts
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Jacket")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Jacket
                    li.catalog-filter__item 
                      label.custom-checkbox(data-text="Shorts")
                        input.custom-checkbox__input.visually-hidden(type="checkbox")
                        span.custom-checkbox__text Shorts
