footer.footer 
  .container.footer__container
    .footer__content 
      .footer__top 
        .footer__column 
          .footer__title CUSTOMER SERVICE
          ul.footer__list
            li.footer__item 
              a(href="tel:+866.597.2742").footer__link Phone: +866.597.2742
            li.footer__item 
              a(href="#").footer__link Live chat
            li.footer__item 
              a(href="#").footer__link About Us
            li.footer__item 
              a(href="#").footer__link Terms & Conditions
        .footer__column 
          .footer__title COMPANY
          ul.footer__list
            li.footer__item 
              a(href="#").footer__link What We Do
            li.footer__item 
              a(href="#").footer__link Availiable Services
            li.footer__item 
              a(href="#").footer__link Latest Posts
            li.footer__item 
              a(href="#").footer__link FAQs 
        .footer__column 
          .footer__title OUR NEWSELETTER
          form(action="#").footer__form.subscribe-form
            h4.subscribe-form__title Join our list and get 15% off your first purchase!
            label.subscribe-form__field
              input(type="email" required placeholder="Email Address")
            button.subscribe-form__btn.btn-reset(type="submit") Subscribe
          .footer__text *Don’t worry we don’t spam
      .footer__bottom
        .footer__left
        ul.footer__list.footer__list--row 
          li.footer__item
            a.footer__link--row.footer__item--row(href="#") Returns Policy
          li.footer__item
            a.footer__link--row.footer__item--row(href="#") Privacy Policy
          li.footer__item
            a.footer__link--row.footer__item--row(href="#") Privacy Policy
        .footer__right 
        ul.social.footer__social
          li.social__item
            a.social__link.social__link--tw(href="" aria-lable="Go to twitter") 
          li.social__item
            a.social__link.social__link--fb(href="" aria-lable="Go to facebook") 
          li.social__item
            a.social__link.social__link--in(href="" aria-lable="Go to instagram") 
          li.social__item
            a.social__link.social__link--pin(href="" aria-lable="Go to pinterest") 
