  footer.footer.footer-catalog
    .container.footer__container
      .footer__content 
        .footer__top.footer-catalog__top
          .footer__column.footer-catalog__column 
            ul.social.footer__social
              li.social__item
                a.social__link.social__link--tw(href="" aria-lable="Go to twitter") 
              li.social__item
                a.social__link.social__link--fb(href="" aria-lable="Go to facebook") 
              li.social__item
                a.social__link.social__link--in(href="" aria-lable="Go to instagram") 
              li.social__item
                a.social__link.social__link--pin(href="" aria-lable="Go to pinterest") 
          .footer__column.footer-catalog__column
            ul.footer__list.footer__list--row 
              li.footer__item
                a.footer__link--row.footer__item--row(href="#") Returns Policy
              li.footer__item
                a.footer__link--row.footer__item--row(href="#") Privacy Policy
              li.footer__item
                a.footer__link--row.footer__item--row(href="#") Privacy Policy      
          .footer__column.footer__column--flex.footer-catalog__column
            .footer__select
              span.footer__select--caption Currency
              .custom-select.custom-select--footer
                .custom-select__top USD
                .custom-select__dropdown 
                  ul.custom-select__list
                    li.custom-select__item USD
                    li.custom-select__item EUR
                    li.custom-select__item RUB
            .footer__select
              span.footer__select--caption Language
              .custom-select.custom-select--footer
                .custom-select__top ENGLISH
                .custom-select__dropdown 
                  ul.custom-select__list
                    li.custom-select__item ENGLISH
                    li.custom-select__item ITALIAN
                    li.custom-select__item RUSSIAN
        .footer__bottom.footer-catalog__bottom
          .footer__left
            small.footer__copy ©2019 Zonex All rights reserved
          .footer__right 
            img(src="img/payment.png", alt="")

