    header.header
        .container.header__container
            button.burger.btn-reset.header__burger бургер
            nav.nav.header__nav
                ul.nav__list 
                    li.nav__item
                        a.nav__link.main-link.nav__link--current(href="#") Home 
                    li.nav__item
                        a.nav__link.main-link(href="./catalog.html") Shop
                    li.nav__item
                        a.nav__link.main-link(href="card.html") Elements
                    li.nav__item
                        a.nav__link.main-link(href="#") Blog
                    li.nav__item
                        a.nav__link.main-link(href="#") Page 
            a.logo.header__logo(href="#" aria-lable="logo")  
                svg
                    use(xlink:href='img/sprite.svg#logo' )
            ul.shop-nav.header__shop-nav 
                li.shop-nav__item 
                    form.shop-nav__search-form.search-form(action="#")
                        button.search-form__btn.btn-reset(aria-lable="Find")
                li.shop-nav__item 
                    a.shop-nav__link.shop-nav__link--user(href="#" aria-lable="Go to cabinet") 
                li.shop-nav__item 
                    a.shop-nav__link.cart(href="#" aria-lable="Go to cart")
                        span.cart__icon 
                        span.cart__quantity.quantity 3

