header.header
    .container.header__container
        nav.nav.header__nav
            ul.nav__list 
                li.nav__item
                    a.nav__link(href="#") Home 
                li.nav__item
                    a.nav__link(href="#") Shop
                li.nav__item
                    a.nav__link.nav__link--current(href="#") Elements
                li.nav__item
                    a.nav__link(href="#") Blog
                li.nav__item
                    a.nav__link(href="#") Page 
            a.logo.header_l_ogo(href="#")  
                svg
                    use(xlink:href='img/sprite.svg#logo')
