section.hero 
  .container.hero__container 
    h1.visually-hidden Zonex - best shop ever!
    h2.hero__title Fall-Winter Clearance Sales
    p.hero__descr All Sale Items are Final Sale / Free Shipping on All Orders
    img.hero__image(src="img/girl.png", alt="Girl")
