section.hero 
  .container.hero__container 
    .banner-slider
      .swiper-wrapper
        .swiper-slide 
          h2.hero__title Fall-Winter Clearance Sales
          p.hero__descr All Sale Items are Final Sale / Free Shipping on All Orders
          img.hero__image(src="img/girl.png", alt="Girl")
        .swiper-slide 
          h2.hero__title Fall-Winter Clearance Sales
          p.hero__descr All Sale Items are Final Sale / Free Shipping on All Orders
          img.hero__image(src="img/girl.png", alt="Girl")
        .swiper-slide 
          h2.hero__title Fall-Winter Clearance Sales
          p.hero__descr All Sale Items are Final Sale / Free Shipping on All Orders
          img.hero__image(src="img/girl.png", alt="Girl")
      .swiper-pagination.banner-pag
    .marketing
      .marketing__image 
        img(src="./img/marketing-product-img.jpg", alt="product1")
      .marketing__text 
        span.marketing__descr Someone purchaed a
        h3.marketing__title Faux shearling double-breasted coat
        p.marketing__when-from 15 minutes ago London, Great Britain
      button.btn-reset.marketing__close(aria-lable="close marketing blog")



