section.main-products
  h2.visually-hidden Products on Main Page
  .container.main-products__container
    ul.main-products__nav
      li.main-products__item
        button.main-products__btn.btn-reset.main-link.main-products__btn--current(data-flter="best-sellers") Best Sellers
      li.main-products__item
        button.main-products__btn.btn-reset.main-link(data-flter="new-products") New Products
      li.main-products__item
        button.main-products__btn.btn-reset.main-link(data-flter="sale-products") Sale Products 
    ul.main-products__list.products-grid 
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product1.png", alt="prod 1")
          h3.product__title 
            a(href="#") Eye Mesh Boat Shoes
          span.product__price $220.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product2.png", alt="prod 2")
          h3.product__title 
            a(href="#") Azure Tote
          span.product__price $290.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product3.png", alt="prod 3")
          h3.product__title 
            a(href="#") Blue Raincoat
          span.product__price $150.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product4.png", alt="prod 4")
          h3.product__title 
            a(href="#") Backpack with contrasting buckle
          span.product__price $90.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product5.png", alt="prod 5")
          h3.product__title 
            a(href="#") Shirt in organic cotton classic gingham
          span.product__price $80.00 - $125.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product6.png", alt="prod 6")
          h3.product__title 
            a(href="#") Tailored indigo jumpsuit
          span.product__price $59.50
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product7.png", alt="prod 7")
          h3.product__title 
            a(href="#") Triple stone drop earrings
          span.product__price $128.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product8.png", alt="prod 8")
          h3.product__title 
            a(href="#") Backpack with contrasting buckle
          span.product__price $49.50
      li.products-grid__item
        article.product                                       
          .product__image
            img(src="./img/product9.png", alt="prod 9")
          h3.product__title 
            a(href="#") Eye Mesh Boat Shoes
          span.product__price $158.00
      li.products-grid__item
        article.product 
          .product__image
            img(src="./img/product10.png", alt="prod 10")
          h3.product__title 
            a(href="#") Azure Tote
          span.product__price $290.00
    .main-products__btn-center 
      button.btn-reset.main-products__more 
        span Load more
        svg
          use(xlink:href='img/sprite.svg#down-arrow')
