section.shop-banners
  .shop-banners__container
    a(href="#").shop-banners.shop-banner--men.shop-banner
      h3.shop-banner__title Men’s Sportswear
      span.shop-banner__link.main-link--white Read more
    a(href="#").shop-banners.shop-banner--women.shop-banner
      h3.shop-banner__title Find your fit
      span.shop-banner__link.main-link--white Read more