.card-main
  margin-top: 63px

.card-content
  padding-top: 23px
  &__bottom
    padding-top: 95px
.card-top
  .container-narrow
    display: flex
    flex-wrap: wrap

  &__left
    width: 57.5%
    @include xs
      width: 100%
  &__right
    width: calc(100% - 57.5%)
    padding-left: 10.7%
    padding-top: 62px
    @include lg-max
      padding-left: 5%
    @include xs
      width: 100%
      padding-left: 0

.card-info
  &__prop
    padding-left: 19px
    margin-bottom: 16px
  &__title
    font-weight: 500
    font-size: 24px
    margin: 0
    margin-bottom: 15px
  &__rate
    font-size: 13px
    margin-bottom: 22px
    color: var(--color-gray)
    img
      margin-right: 7px
  &__price
    margin-bottom: 22px
  &__descr
    color: var(--color-tundora)
    font-size: 13px
    line-height: 20px
    margin-bottom: 52px
  &__btn
    width: 100%
    height: 58px
    background-color: #f2f2f2
    font-weight: 700
    text-transform: uppercase
    color: var(--color-dark)
    font-size: 10px
    margin-bottom: 10px
    transition: 0.3s
    &:hover
      background-color: var(--color-gray)
      color: var(--color-dark)
    &--tocart
      background-color: var(--color-dark)
      color: var(--color-white)
      &:hover
        background-color: var(--color-tundora)
        color: var(--color-white)

.info-price
  display: flex
  align-items: flex-end
  &__current
    font-weight: 700
    font-size: 24px
    margin-right: 20px
  &__old
    color: #959595
    font-size: 16px
    text-decoration: line-through

.color-select
  margin-bottom: 33px
  &__selected
    margin-bottom: 14px
    color: #858585
    font-weight: 700
    font-size: 10px
    text-transform: uppercase
    span
      color: var(--color-dark)
      margin-left: 3px
  &__list
    margin-left: 5.2px
    display: flex
    align-items: center
  &__item
    &:not(:last-child)
      margin-right: 13px
  &__btn
    position: relative
    width: 24px
    height: 24px
    border-radius: 100%
    &::before
      content: ""
      position: absolute
      left: 50%
      top: 50%
      border: 1px solid #ccc
      width: 32px
      height: 32px
      transform: translate(-50%, -50%)
      transition: border 0.3s
      border-radius: 100%
    &:hover
      &::before
        transition: border 0.3s
        border: 1px solid var(--color-dark)
    &--active
      &::before
        transition: border 0.3s
        border: 1px solid var(--color-dark)
.size-select
  margin-bottom: 37px
  height: 100px
  &__selected
    margin-bottom: 13px
    color: #858585
    font-weight: 700
    font-size: 10px
    text-transform: uppercase
    span
      color: var(--color-dark)
      margin-left: 3px
  &__clear
    display: none
    color: #d24242
    font-weight: 700
    font-size: 10px
    text-transform: uppercase
    margin-top: 10px
  svg
    margin-right: 2px

    width: 11px
    height: 11px
    fill: #d24242

  &__list
    display: flex
    align-items: center
    @include md
      flex-wrap: wrap

  &__item
    @include md
      margin-bottom: 5px
    &:not(:last-child)
      margin-right: 5px
  &__btn
    position: relative
    width: 42px
    height: 32px
    transition: 0.3s
    color: #858585
    font-size: 13px

    &::before
      content: ""
      position: absolute
      left: 0
      top: 0
      border: 1px solid #ccc
      width: 100%
      height: 100%
      transition: border 0.3s

    &:hover
      color: var(--color-dark)
      &::before
        transition: border 0.3s
        border: 1px solid var(--color-dark)
    &--active
      color: var(--color-dark)
      &::before
        transition: border 0.3s
        border: 1px solid var(--color-dark)
.stepper
  display: flex
  height: 58px
  border: 1px solid #ccc
  margin-bottom: 10px
  &__btn
    display: flex
    align-items: center
    justify-content: center
    width: 44px
    height: 100%
    svg
      fill: #858585
      transition: 0.2s
      &:hover
        fill: var(--color-dark)
        transition: 0.2s
    &--disabled
      pointer-events: none
      opacity: 0.4
  &__input
    flex-grow: 1
    text-align: center
    border: none
    height: 100%
    color: var(--color-dark)
    font-weight: 700
    font-size: 13px
.card-bottom
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin-top: 50px
  font-size: 10px
  font-weight: 700
  text-transform: uppercase
  span
    color: #858585
  &__item
    @include md
      margin-bottom: 10px
      margin-right: 10px
  &__social
    display: flex
    align-items: center
    margin-top: 15px
    span
      margin-right: 12px
    @include md
      display: flex
      margin-top: 0
      margin-right: 0
  .social__item:not(last-child)
    @include md
      margin-right: 10px

.card-description
  display: flex
  height: 300px
  @include xs-mobile
    flex-wrap: wrap
  .simplebar-track.simplebar-vertical
    transform: translate3d(0px, -2px, 0px)
    width: 3px
    background-color: #ccc
    height: 100%

  .simplebar-scrollbar
    &::before
      opacity: 1
      width: 3px
      background-color: var(--color-dark)
      border-radius: 0
      left: 0
      right: 0
      height: 100%
  @include lg-max
    height: 100%
  &__left
    width: 16%
    @include mobile
      width: 30%
    @include xs-mobile
      width: 100%
  &__right
    width: 70%
    padding-left: 124px
    padding-right: 110px
    @include md
      padding-left: 25px
      padding-right: 25px
    @include xs-mobile
      padding-top: 40px
      width: 100%

  &__navigation
    padding: 32px 0
    width: 100%
    max-height: 200px
    padding-right: 10px
  &__item
    &:not(:last-child)
      margin-bottom: 50px
  &__link
    color: #858585
    font-size: 15px
    font-weight: 700
    &--active
      color: var(--color-dark)
      pointer-events: none
  &__content
    display: none
    &--active
      display: block
    p
      margin-bottom: 29px
      font-weight: 500
      font-size: 13px
      line-height: 26px

.card-related
  padding-top: 25px
  padding-bottom: 100px
  &__title
    font-size: 24px
    font-weight: 500
    line-height: 26px
    padding-bottom: 40px

  &__slider
    overflow: hidden
.related-pag
  position: relative !important
  text-align: left !important
  padding-top: 87px

  .swiper-pagination-bullet
    margin: 0 12px !important
    width: 6px
    height: 6px
    opacity: 0.5
    background-color: #cccccc

  .swiper-pagination-bullet-active
    position: relative
    opacity: 1
    background-color: var(--color-dark)
    &::before
      content: ""
      position: absolute
      border-radius: 100%
      width: 17px
      height: 17px
      background-color: #eeeeee
      transform: translate(-50%,-50%)
      left: 50%
      top: 50%
      z-index: -1
