.card-slider
  display: flex
  &__thumb
    cursor: pointer
    &:not(:last-child)      
      margin-bottom: 10px
    img
      pointer-events: none
  &__main
    margin-left: 15px
    width: 686px
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
