.hero
  height: 100vh
  min-height: 700px
  background-color: var(--color-gray)
  &::before
    content: ""
    left: 0
    right: 0
    bottom: 0
    top: 0
    background-color: rgba(0, 0, 0, 0.05)
  &__container 
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    height: 100%
    padding: 0 300px
  &__title
    font-size: 72px
    margin-bottom: 30px
    width: 532px
    font-weight: 700
    width: 540px  
  &__descr
    margin: 0
    font-size: 18px
  &__image
    position: absolute
    right: 14vw
    bottom: 0
    max-height: 90%

