.free-delivery
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 40px
  color: var(--color-white)
  background-color: var(--color-dark)
  font-size: 10px
  font-weight: 400
  text-transform: uppercase
  @include xs-mobile
    padding-right: 40px
  &__btn
    position: absolute
    right: 40px
    cursor: pointer
    width: 18px
    height: 18px
    svg
      fill: var(--color-white)
      width: 18px
      height: 18px

.hero-catalog
  &__container
    padding-top: 90px
  &__slider
    overflow: hidden
    background-color: #f8f8f8
    width: 100%
    position: relative
  &__container
    position: relative
.catalog-slide
  padding: 106px
  @include sm
    padding: 60px
  @include xs
    padding: 70px
  @include xs-mobile
    padding: 15px
  &__title
    font-size: 36px
    font-weight: 700
    max-width: 375px
    margin-bottom: 15px
    @include mobile
      font-size: 25px
    @include xs-mobile
      font-size: 17px
  &__descr
    font-size: 15px
    max-width: 390px
    color: var(--color-tundora)
    line-height: 1.87
    margin-bottom: 40px
    @include mobile
      font-size: 13px
      line-height: 1.5
    @include xs-mobile
      font-size: 11px
  &__links
    display: flex
    align-items: center
    @include xs-mobile

  &__link
    display: inline-block
    font-size: 13px
    padding: 16px 43px
    transition: 0.3s
    @include mobile
      padding: 10px 17px
    &--dark
      background-color: var(--color-dark)
      border: 1px solid var(--color-dark)
      color: var(--color-white)
      &:hover
        background-color: var(--color-tundora)
        color: var(--color-white)
        transition: 0.3s
    &--white
      color: var(--color-dark)
      border: 1px solid var(--color-dark)
      background-color: transparent
      &:hover
        background-color: var(--color-gray)
        color: var(--color-dark)
        transition: 0.3s
    &:not(:last-child)
      margin-right: 12px
      @include mobile
        margin-right: 10px
      @include xs-mobile
        margin-right: 5px

  &__image
    position: absolute
    right: 18.6%
    bottom: 0
    @include md
      right: 13%
    @include sm
      width: 25%
    @include xs
      display: none

.hero-prev-btn, .hero-next-btn
  z-index: 20
  position: absolute
  left: 26px
  top: 45%
  width: 48px
  height: 48px
  border: 2px solid var(--color-dark)
  display: flex
  align-items: center
  justify-content: center
  color: var(--color-dark)
  transition: 0.3s
  @include mobile
    width: 35px
    height: 35px
    border: 2px solid var(--color-dark)
  @include xs-mobile
    display: none
  svg
    width: 40px
    height: 20px
    @include mobile
      width: 30px
      height: 15px
    fill: var(--color-dark)
  &:hover
    background-color: var(--color-dark)
    svg
      fill: var(--color-white)
  @include sm
    left: 5px
  @include xs
    left: 10px

.hero-prev-btn
  transform: rotate(180deg)

.hero-next-btn
  left: auto
  right: 26px
  @include sm
    right: 5px
  @include xs
    right: 10px
