.main-products
  &__container 
    padding-top: 75px
    padding-bottom: 55px
  &__nav
    display: flex
    justify-content: center
    margin-bottom: 47px
  &__item
    margin: 0 18px
  &__btn
    font-size: 24px
  &__btn-center
    text-align: center
  &__more
    margin-top: 20px
    display: inline-flex
    flex-direction: column
    align-items: center
    color:#858585
    font-size: 13px
    svg
      margin-top: 14px
      width: 12px
      height: 21px



    &--current
      &::before
        transition: width 0.15s
        width: 100%
.products-grid
  display: flex
  flex-wrap: wrap
  justify-content: space-between
