doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" type="text/css" href="./vendorFiles/swiper-bundle.min.css")
    title Zonex
  body.card-page
.site-container
@@include('parts/header-catalog.pug')
  main.main.container.container-narrow.card-main
    section.card
      h2.visually-hidden Product card
      .card__props 
@@include('parts/breadcrumbs-card.pug')
@@include('parts/prev-next.pug')
      .card-content
        .card-content__top
@@include('parts/card-top.pug')




@@include('parts/footer-catalog.pug')

script(src='./vendorFiles/swiper-bundle.min.js')
script(src="js/main.js") 
