doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" type="text/css" href="./vendorFiles/swiper-bundle.min.css")
    title Zonex
  body
    .site-container
@@include('parts/free-delivery-catalog.pug')
@@include('parts/header-catalog.pug')
      main.main.container.container-narrow
@@include('parts/hero-catalog.pug')
        section.catalog
          h2.visually-hidden Catalog
@@include('parts/breadcrumbs.pug')
          .catalog-contnet
@@include('parts/catalog-filter.pug')
@@include('parts/catalog-grid.pug')

@@include('parts/footer-catalog.pug')
    a.to-top(href="#") 
      svg
        use(xlink:href='img/sprite.svg#to-top')

script(src='./vendorFiles/swiper-bundle.min.js')
script(src="js/main.js") 

